* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: system-ui, sans-serif;
}

body.poll-embed {
  display: grid;
  background-color: black;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.03em;
  margin-bottom: 1rem;
}

.poll {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  /* align-content: start; */
}

.poll:empty {
  display: none;
}

.option {
  display: grid;
  gap: 0.5rem;
  align-content: center;
}

label {
  font-size: 2rem;
  font-weight: 500;
}

progress {
  --base-hue: 260;
  --hue: var(--base-hue);
  --background-color: hsl(var(--hue), 85%, 50%);
  /* Stripes! */
  --background-image: repeating-linear-gradient(
    140deg,
    rgba(255, 255, 255, 0) 0 5px,
    rgba(255, 255, 255, 0.33) 5px 10px
  );
  --border-radius: 0.5rem;
  --transition: ease-in 30ms;
  --border-right: 2px solid hsl(var(--hue), 85%, 35%);
  --min-width: 7ch;

  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 2rem;
  border: 1px solid hsl(var(--hue), 85%, 35%);
  overflow: hidden;
  position: relative;
}

progress::after {
  content: attr(data-value);
  position: absolute;
  display: grid;
  place-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4ch;
  color: #fff;
  font-variant-numeric: tabular-nums;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: hsl(var(--hue), 85%, 35%);
}

progress,
::-webkit-progress-bar {
  background-color: hsl(var(--hue), 35%, 90%);
  border-radius: 0.5rem;
}

::-webkit-progress-value {
  background-color: var(--background-color);
  background-image: var(--background-image);
  border-radius: var(--border-radius);
  transition: var(--transition);
  border-right: var(--border-right);
  min-width: var(--min-width);
}

::-moz-progress-bar {
  background-color: var(--background-color);
  background-image: var(--background-image);
  border-radius: var(--border-radius);
  transition: var(--transition);
  border-right: var(--border-right);
  min-width: var(--min-width);
}

.option:nth-of-type(3n + 2) progress {
  --hue: calc(var(--base-hue) + 60);
}

.option:nth-of-type(3n + 3) progress {
  --hue: calc(var(--base-hue) - 60);
}
