---
layout: base
---
<div class="poll">
  <h1>Question</h1>
  <div class="option">
    <label for="opt1">Option 1</label>
    <progress id="opt1" max="100" value="50"> 50% </progress>
  </div>
  <div class="option">
    <label for="opt2">Option 2</label>
    <progress id="opt2" max="100" value="30"> 30% </progress>
  </div>
  <div class="option">
    <label for="opt3">Option 3</label>
    <progress id="opt3" max="100" value="20"> 20% </progress>
  </div>
</div>

