---
layout: base
---
<div class="poll">
  <h1>Question</h1>
  <div class="option">
  <p>Option 1</p>
  <progress id="file" max="100" value="50"> 50% </progress>
  </div>
  <div class="option">
  <p>Option 2</p>
  <progress id="file" max="100" value="30"> 30% </progress>
  </div>
  <div class="option">
  <p>Option 3</p>
  <progress id="file" max="100" value="20"> 20% </progress>
  </div>
</div>

