* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  background-color: black;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.03em;
  margin-bottom: 1rem;
}

.poll {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  /* align-content: start; */
}

.poll:empty {
  display: none;
}

.option {
  display: grid;
  gap: 0.5rem;
  align-content: center;
}

label {
  font-size: 2rem;
  font-weight: 500;
}

progress {
  --base-hue: 260;
  --hue: var(--base-hue);

  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 2rem;
}

::-webkit-progress-bar {
  background-color: hsl(var(--hue), 35%, 90%);
  border: 1px solid hsl(var(--hue), 85%, 35%);
  border-radius: 0.5rem;
}

::-webkit-progress-value {
  background-color: hsl(var(--hue), 85%, 55%);
  /* 
  Stripes!
  background-image: repeating-linear-gradient(
    140deg,
    rgba(255, 255, 255, 0) 0 5px,
    hsl(var(--hue), 35%, 90%) 5px 10px
  ); */
  border-radius: 0.5rem;
}

.option:nth-child(3n + 2) progress {
  --hue: calc(var(--base-hue) + 60);
}

.option:nth-child(3n + 3) progress {
  --hue: calc(var(--base-hue) - 60);
}
